.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins';
}

.logo {
  width: 60px;
  height: 48px;
  align-self: center;
}

.menu {
  position: relative;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--dark);
  cursor: pointer;
}

.xBtn {
  color: #fff;
  text-align: right;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .container {
    justify-content: flex-end;
  }

  .logo {
    display: none;
  }
}