/* CSS Variables and basic config */

:root {
  --dark: #1e252c;
}

html {
  scroll-behavior: smooth;
}

/* Nav Menu */
.menu {
  transition: all 0.3s;
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  max-width: 250px;
  background: var(--dark);
  overflow: hidden;
  z-index: 9;
}

.show-menu {
  transition: all 0.3s;
  width: 100%;
}

li {
  margin-top: 20px;
}

a {
  margin: 40px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

/* Flexbox Utility Classes */

.flex-center {
  margin: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.flex-end {
  width: 95%;
  margin: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 5px;
}

.flex-reverse {
  margin: 25px 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
}

.flex-between {
  margin: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-column {
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.align-center {
  align-self: center;
}

.align-start {
  align-self: flex-start;
}

/* General Utility Classes */

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.rotated-title {
  transform: rotate(-90deg);
  max-width: 115px;
  margin-top: 10rem;
}

.sm-textbox {
  padding: 10px;
  max-width: 150px;
}

.md-textbox {
  padding: 10px;
  max-width: 450px;
  font-size: 35px;
}

.lg-textbox {
  padding: 10px;
  max-width: 665px;
}

.sect-title {
  font-size: 100px;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--dark);
  color: transparent;
  z-index: 10;
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.text-2-col {
  margin-top: 80px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;

  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

.text-2-col p {
  /* a bit hackey, but disallows the text from first p to go into second column like in mockup */
  margin: 1px;
}

.overlap-under {
  margin: 0 0 -2.5rem 0;
}

.overlap-over {
  margin: -70px;
}

section {
  margin: 80px 0;
  color: var(--dark);
}

.min-width-250 {
  min-width: 250px;
}

section p {
  font-size: 20px;
  line-height: 1.6;
  color: #4a4a4a;
  font-family: "Roboto Mono";
}

.bold-1 {
  font-size: 26px;
  font-family: "Poppins";
}

.bold-2 {
  font-size: 35px;
  font-family: "Poppins";
}

.cursor-pointer {
  cursor: pointer;
}

.page-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.page-container {
  width: 90%;
}

/* Page Responsiveness */

@media screen and (max-width: 1150px) {
  .menu {
    max-width: 100%;
  }
  
  .sect-title {
    margin: 20px auto 0 auto;
    font-size: 70px;
    white-space: normal;
  }

  .bold-1,
  .bold-2 {
    font-size: 24px;
  }

  .vision-text {
    display: inline;
  }

  section {
    margin: 15px;
  }

  section p {
    font-size: 16px;
  }

  .overlap-over {
    margin: 0;
  }

  .rotated-title {
    transform: rotate(0);
    max-width: none;
    margin-top: 0;
  }

  .large-img,
  .img {
    max-width: 70vw;
    margin: 50px auto 0 auto;
  }

  .about-sect,
  .vision-sect {
    display: inline;
  }

  .sm-textbox,
  .md-textbox,
  .lg-textbox {
    /* margin: 35px auto; */
    min-width: 100%;
  }

  .lg-textbox {
    margin-top: -20px;
    width: 70vw;
  }

  .text-2-col {
    width: 70vw;
    margin: 35px auto 0 auto;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  .text-2-col p {
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 1400px) {
  .page-container {
    width: 1100px;
  }
}
